astor==0.8.1
attrs==23.1.0
bandit==1.7.5
darglint==1.8.1
docutils==0.20.1
eradicate==2.2.0
flake8==6.0.0
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==23.6.5
flake8-commas==2.1.0
flake8-comprehensions==3.12.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.0.0
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
gitdb==4.0.10
GitPython==3.1.31
isort==5.12.0
markdown-it-py==2.2.0
mccabe==0.7.0
mdurl==0.1.2
pbr==5.11.1
pep8-naming==0.13.3
pycodestyle==2.10.0
pydocstyle==6.3.0
pyflakes==3.0.1
Pygments==2.15.1
PyYAML==6.0
restructuredtext-lint==1.4.0
rich==13.4.1
smmap==5.0.0
snowballstemmer==2.2.0
stevedore==5.1.0
typing_extensions==4.6.3
wemake-python-styleguide==0.18.0

colorama~=0.4.6